<launch>
    <arg name="mode" default="direct"/>

    <rosparam command="load" file="$(find gebsyas)/config/bbb_2nd_floor_pringles.yaml" ns="/sim_config"/>
    <node name="mirror_sim" pkg="gebsyas" type="simulator_node.py" args="$(arg mode)" output="screen"/>
    <node name="localization_republisher" pkg="gebsyas" type="localization_republisher.py" output="screen"/>
</launch>